body {
    color: #333333;
    background-color: rgb(183, 174, 190);
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10%;
}

.list {
  text-align: left;
  margin: auto;
  width: 50%;
}